body {
    background-color: #FFFFFF;
}

a {
    text-decoration:none;
    color: #CA6702;
    font-size: 18px;
    font-family: 'menlo';
    font-weight: lighter;
}

p {
    color: #2F2328;
    font-size: 18px;
    font-family: 'menlo';
    font-weight: lighter;
}


h1 {
    color: #2F2328;
    font-family: 'menlo';
    font-weight: normal;
    font-size: 30px;
    margin-top: 5%;
    margin-left: 5%;
}

nav {
    margin-left: 5%;
    margin-top: 15px;
}

/* about.html */
.border-about {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 20%;
    padding-right: 1%;
    padding-left: 1%;
    border-style: none;
    border-width: 1px;
    text-align: center;
}

img {
    width: 35vw;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: -5px;
    margin-left: 22%;
}

#text-about {
    float: left;
    width: 50%;
    text-align: justify;
    padding-left: 0px;
    padding-top: 2px;
    margin-right: 2px;
}

#image-about {
    float: left;
    width: auto;
    padding-top: 2px;
}

#clear-about {
    clear: both;
}